<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBGAlldwr0IFcsWshsyaMDIMqLaFUuAFis</string>
	<key>GCM_SENDER_ID</key>
	<string>468041328147</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.huypt.face-attendance</string>
	<key>PROJECT_ID</key>
	<string>face-attendance-470c2</string>
	<key>STORAGE_BUCKET</key>
	<string>face-attendance-470c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:468041328147:ios:d2137940ad1433e55b01e6</string>
	<key>DATABASE_URL</key>
	<string>https://face-attendance-470c2-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>